<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>アイスコーヒー with サマージェリー</key>
	<string>した後味をお楽しみください。

さわやかな甘さが夏にぴったりの爽快感のあるアイスコーヒーです。スターバックスのお店と同じ豆で仕上げた風味豊かなコーヒーに、夏らしいジェリーを加えました。軽やかで新しい味わいのアイスコーヒーをお楽しみください。

お求めは、お近くのコンビニで。

ICED

￥200 </string>
	<key>ハニーワッフル</key>
	<string>はちみつ風味のフィリングをサンドしたワッフル

バターを使った風味豊かでしっとりとしたワッフルに、ほんのりはちみつの風味が楽しめるフィリングをサンドしました。
温かいコーヒーを注いだカップの上にのせてしばらく置くと、中のフィリングがとろけて一層おいしくお楽しみいただけます。

﻿￥140</string>
	<key>チョコレートブラウニー</key>
	<string>コーヒーと相性の良い、甘くて濃厚なチョコレートブラウニー

クルミとコーヒーを混ぜ込んだチョコレート生地に、キャラメルソースを重ね、クランブルとアーモンドをのせて焼き上げました。仕上げにかけたホワイトチョコレートとダークな色のチョコレート生地とのコントラストが印象的なブラウニーです。

﻿￥200</string>
	<key>グラノラ</key>
	<string>素材のおいしさを楽しめるザクザクとした食感のグラノラ

オーツ麦や押麦、アーモンド、パンプキンシードなどの素材を、ハチミツを混ぜ込んだメープルシロップで合わせてオーブンで焼き上げ、ドライクランベリーと合わせました。
ナッツ、ドライフルーツなどの風味とコーヒーの相性がぴったりです。

﻿￥220</string>
	<key>キャラメルポップコーン＆プレッツェル</key>
	<string>甘いポップコーンと塩みのきいたプレッツェルの組合せ

甘いキャラメルがコーティングされたポップコーンと程よい塩みのきいたプレッツェルを一緒に楽しめます。キャラメルポップコーンを食べながら、口休めにプレッツェルをお召し上がりください。

﻿￥280</string>
	<key>バナナブレッド</key>
	<string>バナナとクルミを組合せた、やさしい味わいのブレッド

バナナピューレとクルミを混ぜ合わせた生地に、風味付けにラム酒を加えて焼きあげました。やさしい味わいのバナナとクルミの相性の良い組合せをお楽しみください。

﻿￥210</string>
	<key>ベーコンとほうれん草のキッシュ</key>
	<string>ジューシーな厚切りベーコンとほうれん草をのせて焼き上げたキッシュ

パイ生地に茹でたポテトを敷き、クリームチーズや卵などを混ぜた濃厚な生地を流し込み、ジューシーな厚切りベーコンとほうれん草をトッピングしました。仕上げにはグリエールチーズとパルメザンチーズをかけて、こんがりと風味豊かに焼きあげています。

※こちらの商品は温めてご提供します。

﻿￥310</string>
	<key>サラダラップ（根菜チキン）</key>
	<string>ワンハンドで食べられるヘルシーなラップサンド

根菜（ごぼう、れんこん、にんじん）とチキンをゴマだれであえた根菜チキンサラダとフレッシュ野菜を組み合わせたサラダラップ。ゴマの風味と香ばしさ、ジューシーなチキン、シャキシャキした根菜の食感をお楽しみください。

※カロリー・アレルギー・原料原産地情報についてはこちら

﻿￥280</string>
	<key>サラダラップ15品目メキシカンアボカド</key>
	<string>様々な食材が組み合わさった、メキシカンな風味を楽しめるラップサンド

15品目の食材にメキシカンマヨネーズソースを合わせて、トルティーヤで包みました。

15品目の食材：レタス・サニーレタス・ニンジン・プロセスチーズ・ポテト・レンコン・枝豆・赤ピーマン・黄ピーマン・赤いんげん豆・ローストアーモンド・ツナ・大麦・アボカドペースト・ブロッコリー

※フムス：茹でたひよこ豆にニンニクやオリーブオイル・レモン汁などを加えすりつぶした中東発祥の食べ物。アメリカでもそのまま食べたり、ピタやトルティーヤなどに合わせて食べられています。

﻿￥360</string>
	<key>サラダラップ チキンシーザー</key>
	<string>チキンをメインにした食べごたえのあるラップサンド

チキンをメインに、シーザーサラダをトルティーヤで包みました。お肉も野菜も両方楽しめるサラダラップです。

﻿￥360</string>
	<key>ミックスサンドイッチ</key>
	<string>バラエティ豊かな一口サイズのサンドイッチ

黒ゴマタイプと全粒粉タイプの2種類のしっとりとしたパンに、こだわりの食材をはさんだサンドイッチです。
ハム&amp;スクランブルエッグ、アボカドサラダ、ハニーマスタードチキン、ツナ&amp;チーズの4種類の組み合わせです。

﻿￥400</string>
	<key>ターキースイス＆ツナサラダ</key>
	<string>アメリカで定番のターキー＆スイスと、人気のツナを使ったサンドイッチ

ターキー＆スイスは、アメリカでは定番の組合せとして親しまれていて、ターキーハム（七面鳥）とスイス生まれのグリュイエールチーズ、グリーンリーフをサンドし、マスタードマヨネーズソースで仕上げました。あっさりとしたターキーハムと、まろやかでコクのあるグリュイエールチーズとの組合せをお楽しみください。

ツナサラダは、ドライトマトをアクセントに加え、マヨネーズ、トマトソース、粒マスタードであえたツナサラダに、ゆでタマゴ、グリーンリーフをサンドしました。トマトの酸味が夏にピッタリのサンドイッチです。

﻿￥400</string>
	<key>バジルチキン＆アボカドシュリンプ</key>
	<string>食べごたえのあるチキンとアボカドを使ったサンドイッチの組合せ

バジルチキンは、ローストチキン、ニンジン、サニーレタスにバジルソースを組み合わせています。相性の良いチキンとバジルソースの組合せをお楽しみください。

アボカドシュリンプは、アボカドペーストにタルタルソースとポテトを混ぜ合わせたアボカドサラダやエビ、トマト、サニーレタスをはさんでいます。まろやかなアボカドサラダとエビが相性の良いサンドイッチです。

﻿￥400

アメリカで定番のターキー＆スイスと、人気のツナを使ったサンドイッチ

ターキー＆スイスは、アメリカでは定番の組合せとして親しまれていて、ターキーハム（七面鳥）とスイス生まれのグリュイエールチーズ、グリーンリーフをサンドし、マスタードマヨネーズソースで仕上げました。あっさりとしたターキーハムと、まろやかでコクのあるグリュイエールチーズとの組合せをお楽しみください。

ツナサラダは、ドライトマトをアクセントに加え、マヨネーズ、トマトソース、粒マスタードであえたツナサラダに、ゆでタマゴ、グリーンリーフをサンドしました。トマトの酸味が夏にピッタリのサンドイッチです。

﻿￥400</string>
	<key>BLT＆エッグ</key>
	<string>ヘルシーなグレインブレッドを使用したサンドイッチ

ローストされた香ばしいベーコンに、フレッシュなレタス＆トマトをフレンチマスタードでバランス良く合わせたサンドイッチと、オリジナルのタマゴサラダとゆで卵スライスをダブルで使ったサンドイッチの組み合わせ。

﻿￥400</string>
	<key>フィローネハム＆マリボーチーズ</key>
	<string>こだわりのハムとまろやかなチーズがとろける絶妙なバランスのホットサンド

サクッと歯切れ良く、香り豊かなフィローネにこだわりのハムとチーズをはさみました。
スターバックスオリジナルレシピで仕上げたショルダーハムは、桜の木のチップでスモークすることで香り高く仕上げています。 まろやかで口当たりが良く穏やかな風味で、ホットサンドに適したデンマーク産のマリボーチーズをはさみました。
また、ミネラルが豊富なドイツ産アルペンザルツ岩塩を使い、まろやかな味わいと肉のうまみ、素材そのものの風味を引き出しています。

※こちらの商品は温めてご提供します。

﻿￥400</string>
	<key>シーザーサラダ</key>
	<string>バランスの良い食事のお供に

レタス、サニーレタス、紫キャベツ、きゅうり、赤パプリカ、ベーコンビッツを入れました。シーザードレッシングをかけてお召し上がりください。
カップ型の容器で、お持ち帰りにもおすすめです。

﻿￥300</string>
	<key>ホットベーグルサンドベーコン＆エッグ</key>
	<string>ベーコン、卵、チーズをサンドした朝にピッタリのホットベーグルサンド

グラハム粉を混ぜ込んだ香ばしいベーグルに、ベーコン、卵、チーズをサンドしました。ソースは、まろやかなクリームソースと程よい酸味のトマトソースを使用しています。朝食におすすめです。

﻿￥360</string>
	<key>ベーグルサンドサーモン＆クリームチーズ</key>
	<string>スモークサーモンとクリームチーズを組み合わせた、アメリカでポピュラーなベーグルサンド

プンパニッケルベーグルに、スモークサーモンとクリームチーズ、グリーンリーフ、紫タマネギをサンドしました。ソースは、マヨネーズとディルソースを使用しています。。

※プンパニッケルベーグル：ライ麦とキャラウェイシードを混ぜ込んだアメリカのベーグル専門店では定番のベーグル。

﻿￥380</string>
	<key>ベーグルサンドハム＆チーズ</key>
	<string>ハムとチーズのシンプルな味わいのベーグルサンド

もっちりとした食感のベーグルに、あっさりとしながらも肉の味わいを楽しめるハムとクセのないモントレージャックチーズ、グリーンリーフをサンドしました。朝食におすすめです。

﻿￥360</string>
	<key>デビルズケーキ</key>
	<string>濃厚なチョコレートを堪能できるケーキ

アメリカでポピュラーなデビルズケーキが、スターバックスこだわりの味わいで楽しめます。
しっとりとしたチョコレート生地に、チョコレートクリームと甘酸っぱいあんずジャムをサンドしました。生地の1番下にはサクサクとした食感のフィアンティーヌ（薄く焼いたクッキーのようなもの）を敷いて、アクセントを加えています。
少しずつ違う生地やクリームのチョコレートの味わいが楽しめるケーキです。

※デビルズケーキとは、アメリカで親しまれている家庭的なチョコレートケーキのことです。

﻿￥380</string>
	<key>スターバックスティラミス</key>
	<string>シンプルで素材にこだわった、コーヒーに合うティラミス

スターバックスのコーヒーと2種類のオレンジシロップを浸み込ませた生地に、マスカルポーネチーズ、リコッタチーズ、クリームチーズの3種類のチーズを使用したクリームをはさみました。
生地とクリームの間にはさんだマダガスカル産チョコレートのパリッとした食感も楽しめます。

﻿￥400</string>
	<key>ニューヨークチーズケーキ</key>
	<string>本場ニューヨークの味わいを再現した、こだわりのチーズケーキ

厳選された2種類のクリームチーズを使用し、程よいコクがありながら、後味はさっぱりと口どけが良くなるように仕上げました。きれいなグラデーションになるように焼き上げた表面と、底に敷いたザクザクとした食感のクラムも特長です。

﻿￥400</string>
	<key>Coffee&amp;Espresso キャラメルマキアート</key>
	<string>リッチで香ばしいキャラメルとほろ苦いコーヒー

キャラメルとほろ苦いコーヒー、優しく香るバニラ風味の生地でキャラメルマキアートを表現しました。
トッピングはキャラメル マキアートのキャラメルソースをイメージしたキャラメルチョコレートで仕上げました。
リッチで香ばしいキャラメルとほろ苦いコーヒーのコンビネーションを楽しめる、しっとりとしたケーキです。

Coffee &amp; Espresso ケーキは、スターバックスのドリップコーヒーやスターバックス ラテと合わせると、さらに美味しくお楽しみいただけます。
お気に入りのコーヒーとご一緒に､豊かなコーヒータイムをいかがですか。

※Coffee &amp; Espresso ケーキを3ピース以上ご購入いただくと、専用バッグにお入れします。

﻿￥330</string>
	<key>Coffee&amp;Espresso カフェモカ</key>
	<string>カフェ モカをイメージした、濃厚で食感豊かなチョコレートの味わい

コーヒーとチョコレートの生地にチョコレートチャンク・ガナッシュクリームを混ぜ込み、カフェ モカのホイップクリームに見立てたホワイトチョコレートをトッピングしました。カフェ モカをイメージした、濃厚で食感豊かなチョコレートの味わいを存分にお楽しみいただけます。

Coffee &amp; Espresso ケーキは、スターバックスのドリップコーヒーやスターバックス ラテと合わせると、さらに美味しくお楽しみいただけます。
お気に入りのコーヒーとご一緒に、豊かなコーヒータイムをいかがですか。

※Coffee &amp; Espresso ケーキを3ピース以上ご購入いただくと、専用バッグにお入れします。

﻿￥330</string>
	<key>Coffee&amp;Espresso レモン</key>
	<string>レモンの味わいを存分に楽しめるケーキ

サクサクのクッキー生地にレモンピールを混ぜた生地を合わせ、甘酸っぱいレモンフィリングをサンドしました。生地の中央には、サワークリームとレモンピールを混ぜたフィリングが入っています。

Coffee &amp; Espresso ケーキは、スターバックスのドリップコーヒーやスターバックス ラテと合わせると、さらに美味しくお楽しみいただけます。お気に入りのコーヒーとご一緒に、豊かなコーヒータイムをいかがですか。

※Coffee &amp; Espresso ケーキを3ピース以上ご購入いただくと、専用バッグにお入れします。

﻿￥330</string>
	<key>マンゴーシフォンケーキ</key>
	<string>マンゴーの果実感と甘酸っぱさを楽しめるシフォンケーキ

シンプルな味わいの生地に、あっさりと食べやすいクリームを合わせ、仕上げに香りが良く甘味の強いアルフォンソマンゴーを使用したマンゴークリームをのせました。生地とクリームの間にもフリーズドライしたアルフォンソマンゴーをサンドしています。
ぜひアイスコーヒーと一緒にお楽しみください。

﻿￥380</string>
	<key>ブルーベリーレアチーズパイ</key>
	<string>みずみずしく爽やかなブルーベリーがたっぷりのったパイ

サクサクした食感のパイ生地に、さっぱりとした味わいのレアチーズをのせました。ブルーベリーはジューシーで甘みと酸味のバランスがよく、大粒のものだけを厳選しています。
ぜひアイスコーヒーと一緒にお楽しみください。

﻿￥420</string>
	<key>クロワッサンハム＆チーズ</key>
	<string>ジューシーなハムと3種類のチーズを使って焼き上げたクロワッサン

ジューシーなショルダーハムとレッドチェダーチーズをクロワッサン生地で包み込み、表面にエメンタールチーズとモッツァレラチーズをトッピングして焼き上げました。スターバックスオリジナルレシピで仕上げたショルダーハムは、桜の木のチップでスモークすることで香り高く仕上げています。
香ばしく焼き上げたクロワッサンはそのままでも、温めてもお楽しみいただけます。

﻿￥280</string>
	<key>ホワイトチョコレートマカダミアクッキー</key>
	<string>ホワイトチョコレートとマカダミアナッツを混ぜ込んだ定番クッキー

チューイー（ネチッとした）な食感で、表面は手づくり感が出るように焼きあげました。ミルキーなホワイトチョコレートと口あたりのいい大ぶりなマカダミアナッツが入っていて、ナッツのカリッとした食感とほんのり感じる塩味がアクセントのスターバックス定番のクッキーです。

﻿￥190</string>
	<key>チョコレートチャンククッキー</key>
	<string>チョコレートチャンクを混ぜ込んだ定番クッキー

生地にグラハム粉を混ぜることで風味を出しながらも、チューイー（ネチッとした）な食感で、表面は手づくり感が出るように焼きあげました。少しビターでゴロっとしたチョコレートチャンクもお楽しみいただける、スターバックス定番のクッキーです。

﻿￥190</string>
	<key>アメリカンワッフル</key>
	<string>外はサックリ、中がしっとりとした食感の違いが楽しめるワッフル

しっとり感は保ちつつも外側がサクッとした食感で、香ばしくて程よい甘さの生地とほのかなハチミツの甘い香りが特徴です。
ホイップクリーム（+30円）やキャラメルソース（無料）、チョコレートソース（無料）などをトッピングして、ぜひコーヒーと一緒にお楽しみください。

﻿￥230</string>
	<key>ソーセージパイ</key>
	<string>ジューシーなソーセージパイ

サクサクのパイ生地に、ボリュームのあるソーセージと程よい酸味のマスタードを合わせ、表面にパルメザンチーズをのせて焼き上げました。
ガーリック・ペッパーでしっかりと味付けされたソーセージの味わいをお楽しみください。

※こちらの商品は温めてご提供します。

﻿￥280</string>
	<key>バターミルクビスケット</key>
	<string>バターの風味と香り豊かなビスケット

バターミルクとバターを使用した、濃厚で香ばしいビスケットです。厚みのある生地を、しっかりとした食感に仕上げました。ホイップやキャラメルソース、チョコレートソースなど、さまざまなカスタマイズでお楽しみください。

※こちらの商品は、お好みで温めることもできます。

﻿￥230</string>
	<key>シュガードーナツ</key>
	<string>コーヒーとの相性が抜群のスターバックスオリジナルドーナツ

シンプルで甘すぎない、やさしい味わいのドーナッツ。しっとりとした生地と、もっちりとした食感が特徴です。

﻿￥190</string>
	<key>バターリッチマフィン</key>
	<string>バターたっぷりのアメリカンマフィン

バターをたっぷりと使用した、ほのかな甘みと塩味のバランスがとれた香り豊かなマフィンです。
中の生地はしっとりと、外側はしっかりと焼き上げ、サクッとした食感のブラウンフレークをトッピングしました。

※こちらの商品は、お好みで温めることもできます。

﻿￥220</string>
	<key>ブルーベリーマフィン</key>
	<string>ブルーベリーの素材と風味にこだわったマフィン

外側はカリッと、中はしっとりとした生地に、ジューシーで大粒のブルーベリーとドライのワイルドブルーベリーをたっぷり混ぜ込んだマフィンに仕上げました。

※こちらの商品は、お好みで温めることもできます。

﻿￥220</string>
	<key>チョコレートチャンクスコーン</key>
	<string>チョコレートがたっぷり入ったスターバックスの定番スコーン

スターバックスで人気の“チョコレートチャンクスコーン”が、さらにおいしくなって登場です。
チョコレートが大きくなり、さらに量も増えて、チョコレートのおいしさをより感じていただけるようになりました。
温めると、生地はふんわりしっとり、チョコレートはとろりと溶けて、いっそうおいしくなります。ホイップクリームのトッピング (＋\30) もおすすめです。

﻿￥220</string>
	<key>シナモンロール</key>
	<string>こだわりの生地で丁寧に焼き上げたシナモンロール

スターバックスで定番のシナモンロールが、しっとりとして、やわらかい口どけになって登場です。
しっとりとした生地に、シナモンシュガーをたっぷりと巻き込んで、クリームチーズアイシングで仕上げました。
温めて食べると、シナモンシュガーが口の中でとろりと広がります。そのままでも、温めてもお好みの食べ方でお楽しみください。

※こちらの商品は、お好みで温めることもできます。

﻿￥270</string>
	<key>夏野菜とベーコンのタルティーヌ</key>
	<string>ナスやトマトの彩り鮮やかな夏野菜を使ったタルティーヌ

フォカッチャにトマトベースのソースをたっぷりと塗り、ナスとジューシーなベーコンをのせて、仕上げにレッドチェダーチーズと赤ピーマン、パセリをトッピング。ジューシーな夏野菜とカリッとしたフォカッチャの食感をお楽しみください。

﻿￥270</string>
	<key>チキンとチーズのタルティーヌ</key>
	<string>スモークチキンやズッキーニなどをトッピングしたタルティーヌ

サクッとした食感になるよう工夫したフォカッチャに、香り豊かなジェノベーゼや、旨みが凝縮したスモークチキン、セミドライトマト、季節感のあるズッキーニをトッピングし、仕上げにモッツァレラチーズとゴーダチーズをのせて焼き上げています。



﻿￥270</string>
	<key>ブルーベリー＆チーズクリームドーナツ</key>
	<string>ブルーベリーチョコレートをコーティングした見た目にも鮮やかなドーナツ
もっちりとした生地の中に、甘みと酸味のバランスの取れたレアチーズクリームを入れました。仕上げにブルーベリーチョコレートをたっぷりコーティングし、ドライブルーベリーもトッピング。
爽やかで口どけの良いクリームとブルーベリーの味わいをお楽しみください。

﻿￥230</string>
	<key>レモンポピーシードスコーン</key>
	<string>レモンの爽やかな味わいが楽しめる、夏にぴったりのスコーン

果汁100%のレモンジュースを練り込んだ生地に、レモンピールやプチプチとした食感のポピーシードを混ぜこんで焼きあげました。
夏らしい爽やかな味わいですので、ぜひアイスコーヒーと一緒にお楽しみください。

﻿￥220</string>
	<key>ブルーベリースコーン</key>
	<string>ブルーベリーの自然な甘さを楽しめる、やさしい味わいのスコーン

ブルーベリーの風味を引き立てるシンプルな味わいの生地を、外はサックリ、中はしっとりとなるように焼きあげました。ブルーベリーは甘さと酸味のバランスのとれた品種のみを厳選して使用しています。
ホイップクリームのトッピング (＋\30) もおすすめです。

﻿￥220</string>
	<key>be juicy! Kids</key>
	<string>お子様に人気の果汁100％のジュース

お子様が飲みやすいように厳選した果汁を使用しました。スターバックスオリジナルの濃縮還元果汁100％ジュース。オレンジとアップルの2種類をご用意しています。

-ICED-
￥190</string>
	<key>キッズ ビバレッジ</key>
	<string>12歳以下のお子様用ドリンク

お子様向けのビバレッジは、ミルクとココアをご用意しています。ホットは、お子様でも飲みやすい温度でお作りします。


￥170 </string>
	<key>フルーツジュースダブルスクイーズ</key>
	<string>バナナの甘みやラズベリーの酸味が調和した果汁100%ジュース

バナナの甘みとラズベリーの甘酸っぱさの特徴を生かすために、りんご、ぶどう、レモンをブレンドした人気のフレーバー。絶妙なフルーツの味わいは香料、着色料など一切使わずフルーツだけで仕上げています。濃縮還元果汁100%ジュースです。
◇195ml

￥210 
</string>
	<key>フルーツジュースグレープフルーツ</key>
	<string>2種類のグレープフルーツをブレンドした果汁100%ジュース

2種類の厳選したグレープフルーツをブレンドしています。グレープフルーツ本来の味を楽しんで頂くために、香料や着色料は一切使用していません。濃縮還元果汁100%ジュースです。
◇195ml﻿

￥200  </string>
	<key>フルーツジュースオレンジ</key>
	<string>2種類のオレンジをブレンドした果汁100%ジュース

2種類の厳選したオレンジをブレンドしています。オレンジ本来の味を楽しんで頂くために、香料や着色料は一切使用していません。濃縮還元果汁100%ジュースです。
◇195ml﻿

￥200   </string>
	<key>キャラメルスチーマー</key>
	<string>キャラメル風味の温かいミルク

キャラメル風味の温かいミルクの上に、ホイップクリームとキャラメルソースをトッピングしました。ミルキーな甘さとキャラメルの風味を存分に楽しめます。

-HOT-
Short 	￥360   	Tall 	￥400   
Grande 	￥440   	Venti® 	￥480</string>
	<key>ココア</key>
	<string>チョコレートシロップにミルク、ホットにはホイップクリームをたっぷりと

チョコレートシロップにミルクが調和し、やさしい甘さに仕上げました。ホットはホイップクリームが程よく溶けてまろやかな口当たりです。

※アイスでのご提供の場合、ホイップクリームは付きません。

-HOT/ICED-
Short 	￥350   	Tall 	￥390   
Grande 	￥430   	Venti® 	￥470</string>
	<key>ニューヨークノンスウィートラテ</key>
	<string>スターバックスのノンスウィートだから楽しめる、豆の深みとミルクの甘み。

活気あふれる街ニューヨーク。
シンプルで洗練されたものを好むニューヨーカーにインスパイアされ、たっぷりのミルクとお店と同じエスプレッソローストの豆で仕上げました。
スターバックスならではの甘くないカフェラテをお楽しみください。

お求めは、お近くのコンビニで。

-ICED-
￥200</string>
	<key>京都抹茶ラテ</key>
	<string>上質な抹茶とミルクの味わいがひとつに｡ 
古都に息づく伝統に敬意をこめて｡

抹茶の豊かな香りと味わいにミルクがぴったりマッチした上品な味わいのラテです。
自然風土に恵まれた京都は、古くからお茶の産地として栄え、豊かな抹茶の文化を育ててきました。
その伝統の味わいに敬意をこめて、新鮮な茶葉からつくった抹茶をミルクと合わせ、まろやかなラテに仕上げました。
古都に流れる悠久の時に思いをはせながら、心なごむひとときをお過ごしください。

お求めは、お近くのコンビニで。

-ICED-
￥200</string>
	<key>ミラノエスプレッソ</key>
	<string>エスプレッソの深く力強い味わい｡
カフェをこよなく愛する街の歴史と文化を称えて｡

お店と同じイタリアン ローストの豆で仕上げた、ロースト感のある力強い味わいが特徴のカフェラテです。
街のいたるところでコーヒーの香りが漂うミラノ。
人々は毎日のように顔なじみの店に立ち寄り、エスプレッソを楽しみます。
そんなカフェの本場が育んできた味わいを称え、上質なアラビカ種コーヒー豆を深煎りし、エスプレッソの風味が豊かに香る力強い味わいに仕上げました。
一口一口ごとに広がるコク深く濃厚な味わいとともに、上質な時間をお楽しみください。

お求めは、お近くのコンビニで。

-ICED-
￥200</string>
	<key>シアトルラテ</key>
	<string>深煎りの豆とミルクの絶妙なバランス。
スターバックスのルーツがここにあります。

お店と同じエスプレッソ ローストの豆で仕上げた、風味豊かなエスプレッソとクリーミーなミルクのカフェラテです。
1984年に初めてカフェラテを発売したスターバックス創業の地でもあるシアトルから名前をとりました。
もちろん名前だけでなく、そこで育まれた独自の味わいや、コーヒーへのこだわりのすべてを受け継いでいます。
深煎りされた上質なアラビカ種のコーヒー豆とミルクが織りなすまろやかな味わいとともに、心やすらぐひとときをお楽しみください。

お求めは、お近くのコンビニで。

-ICED-
￥200</string>
	<key>スターバックスティーラテ</key>
	<string>甘さの中にほんのり香るスパイス

紅茶の味わいにスパイスを効かせたオリジナルシロップと、ミルクのバランスが絶妙に調和したティー ラテ。まろやかなスパイス感と深いコクが特徴のティー ラテです。

-HOT/ICED-
Short 	￥360   	Tall 	￥400   
Grande 	￥440   	Venti® 	￥480</string>
	<key>チャイティーラテ</key>
	<string>甘さの中にほんのり香るスパイス

紅茶の味わいにスパイスを効かせたオリジナルシロップと、ミルクのバランスが絶妙に調和したティー ラテ。まろやかなスパイス感と深いコクが特徴のティー ラテです。

-HOT/ICED-
Short 	￥360   	Tall 	￥400   
Grande 	￥440   	Venti® 	￥480</string>
	<key>抹茶ティーラテ</key>
	<string>ほろ苦い抹茶をラテに仕上げ深い味わいに

こだわり抜いた抹茶とミルクを合わせた人気のラテ。ほろ苦い抹茶にほどよく甘みをプラスすることで、より深い味わいが楽しめます。

-HOT-
Short 	￥380   	Tall 	￥420   
Grande 	￥460   	Venti® 	￥500</string>
	<key>ホットティー</key>
	<string>紅茶の伝統的な味わいと上品な香りが楽しめるティー

スターバックス オリジナルのホット ティー。

◇イングリッシュ　ブレックファースト

◇ほうじ茶

◇アール　グレイ

◇チャイ

◇スペアミント グリーン

◇ハイビスカス ブレンド

-HOT-
Tall 	￥330   	Grande 	￥370   
Venti® 	￥410</string>
	<key>アイスティー</key>
	<string>紅茶の伝統的な味わいと上品な香りが楽しめるティー

スターバックスオリジナルのブレンドを毎日店舗で抽出しています。しっかりとしたコクと香りを楽しめます。

◇ブラック ティー
インドネシア産、スリランカ産、インド産のブラックティーを主にブレンドした、すっきりとしたアイスティーです。
◇パッション
ハイビスカスとローズヒップに、オレンジピールとレモングラスがブレンドされた、鮮やかな赤色でノンカフェインのハーブティーです。爽やかな酸味が気分転換におすすめです。

Short 	￥280   	Tall 	￥320   
Grande 	￥360   	Venti® 	￥400  </string>
	<key>エスプレッソマキアート</key>
	<string>スターバックスこだわりのエスプレッソにフォームミルクをのせて

キャラメルのような甘く力強い味とナッツを感じさせる後味。
ふわふわのフォームミルクをのせることでミルクの優しい甘さが、エスプレッソを引き立てます。

￥300</string>
	<key>エスプレッソコンパナ</key>
	<string>スターバックスこだわりのエスプレッソにホイップクリームをのせて

キャラメルのような甘く力強い味とナッツを感じさせる後味のエスプレッソにホイップクリームをのせて、ほろ苦く贅沢なデザートのような味わいです。

￥300
</string>
	<key>エスプレッソ</key>
	<string>スターバックスこだわりのエスプレッソ

キャラメルのような甘く力強い味とナッツを感じさせる後味。
スターバックスのすべてのエスプレッソ ビバレッジに使われているエスプレッソです。
どうぞ、お早めにお召し上がりください。

￥300  </string>
	<key>カフェアメリカーノ</key>
	<string>エスプレッソに特別にろ過したウォーターを加えて

エスプレッソに熱いお湯を注いだ、すっきりとしたのどごしのコーヒーです。ドリップ コーヒーのお好きな方にもおすすめです。 

-HOT/ICED-
Short 	￥300   	Tall 	￥340   
Grande 	￥380   	Venti® 	￥420 </string>
	<key>キャラメルマキアート</key>
	<string>フォームミルクがたっぷりのったバニラ風味のラテにキャラメルをトッピング

バニラシロップとスチームミルクのコンビネーションになめらかなフォームミルクをたっぷりのせ、その上からエスプレッソを注いでアクセントを付けました。仕上げにオリジナルキャラメルソースをトッピングしています。

-HOT/ICED-
Short 	￥370   	Tall 	￥410   
Grande 	￥450   	Venti® 	￥490 </string>
	<key>ホワイトモカ</key>
	<string>エスプレッソにホワイトチョコレートシロップとミルク、ホイップクリーム

エスプレッソに濃厚でクリーミーなホワイトチョコレートシロップとスチームミルクを加え、ホイップクリームをトッピング。ちょっとした贅沢を楽しみたい方におすすめです。 

※アイスでのご提供の場合、ホイップクリームは付きません。

-HOT/ICED-
Short 	￥380   	Tall 	￥420   
Grande 	￥460   	Venti® 	￥500</string>
	<key>カフェモカ</key>
	<string>エスプレッソにチョコレートシロップとミルク、ホイップクリームをのせて

エスプレッソにほろ苦いチョコレートシロップとミルクを加え、ホットビバレッジにはホイップクリームをトッピング。ちょっとした贅沢を楽しみたい方におすすめです。

-HOT/ICED-
Short ￥380   Tall ￥420   
Grande ￥460   Venti® ￥500</string>
	<key>カプチーノ</key>
	<string>ふんわりと滑らかな舌触りのフォームミルクをたっぷり楽しめるカプチーノ

リッチなエスプレッソに一気にミルクを注ぐことで、一口飲んだときからコーヒー感が感じられるビバレッジです。ベルベットのようにきめ細かいフォームミルクをお楽しみください。

HOT

Short 	￥320   	Tall 	￥360   
Grande 	￥400   	Venti® 	￥440 </string>
	<key>ソイラテ</key>
	<string>エスプレッソとの相性を追求した豆乳を使用

リッチなエスプレッソにスチームしたての豆乳を注ぎ、そのフォームをていねいにトッピングしました。エスプレッソと豆乳のバランスが絶妙で、やさしい味わいをお楽しみいただけます。 ﻿

-HOT/ICED-
Short 	￥370   	Tall 	￥410   
Grande 	￥450   	Venti® 	￥490</string>
	<key>スターバックスラテ</key>
	<string>エスプレッソにミルクをたっぷり注いで、なめらかなフォームミルクを

最も人気のあるエスプレッソ ビバレッジ。リッチなエスプレッソにスチームミルクを注ぎ、フォームミルクを丁寧にトッピングしました。ミルキーな味わいで気持ちを温かくしてくれます。 ﻿

-HOT/ICED-
Short 	￥320   	Tall 	￥360   
Grande 	￥400   	Venti® 	￥440   </string>
	<key>スターバックスリザーブコーヒープレス</key>
	<string>魅力的かつ個性的なストーリーを持ったコーヒー豆「スターバックス リザーブ®」を使ったコーヒー

スターバックス リザーブ™は、世界のスターバックスでも限定店舗のみでお取扱いしております。
ご注文ごとに挽いて一杯ずつおつくりするコーヒーをお楽しみいただけます。この貴重な出会いとそれぞれの個性的な味わいを、じっくりとお楽しみください。

ザンビア ピーベリー テラノバ エステート　　¥570
ブラジル ファゼンダ アプカラナ　　¥480
ブラジル ブルボン リオ ヴェルデ　　¥480</string>
	<key>スターバックスリザーブクローバー</key>
	<string>魅力的かつ個性的なストーリーを持ったコーヒー豆「スターバックス リザーブ®」をクローバーで抽出したコーヒー
ご注文ごとに挽いて一杯ずつおつくりするコーヒーをお楽しみいただけます。この貴重な出会いとそれぞれの個性的な味わいを、じっくりとお楽しみください。

ザンビア ピーベリー テラノバ エステート
Short ¥580　Tall ¥620
ブラジル ファゼンダ アプカラナ
Short ¥490　Tall ¥530
ブラジル ブルボン リオ ヴェルデ
Short ¥490　Tall ¥530</string>
	<key>ポットサービス</key>
	<string>スターバックスのコーヒーを出来たてでご用意します

ミーティングに、来客時に、抽出したてのドリップコーヒーをポットでご用意いたします。
あわせて、ペーパーカップ、ミルク、シュガーもご用意いたします。事前にお知らせいただくと、お好きなコーヒー豆を選べます。

※アイスコーヒーもオーダーできます。
※商品の受け渡し、ポットの返却に関して詳細はご注文店舗までお問合せください。

5杯分(1,000ml) 　¥1,000
10杯分(2,000ml)　¥2,000
15杯分(3,000ml)　¥3,000
20杯分(4,000ml)　¥4,000</string>
	<key>ドリップコーヒー</key>
	<string>世界中のコーヒー産地から厳選された高品質のアラビカ種コーヒー豆を使用したスターバックスの定番商品です。バラエティあふれるコーヒー豆を通して、スターバックスのコーヒージャーニーをお楽しみください。
異なるローストレベルのコーヒーを2種類ご用意しています(一部店舗を除く)ので、まずは、あなたのお好みのローストから、お気に入りの1杯を見つけてみませんか。 ﻿

-HOT/ICED-
Short 	￥280   	Tall 	￥320   
Grande 	￥360   	Venti® 	￥400 </string>
	<key>コーヒープレス</key>
	<string>お好きなコーヒー豆をコーヒープレスでお楽しみいただけます

店舗でお取り扱いしている全コーヒー豆の中から、その日の気分に応じて、お好きなコーヒー豆をお選びいただけます。﻿

HOT
￥370






</string>
	<key>カフェミスト</key>
	<string>香り高いドリップコーヒーにふわふわのスチームミルクを加えて

高品質のアラビカ種コーヒー豆を使用したドリップ コーヒーにスチームしたミルクを注ぎ、さらにふわふわのフォームミルクをのせました。やさしくホッとできるビバレッジです。

HOT

Short 	￥310   	Tall 	￥350   
Grande 	￥390   	Venti® 	￥430  
</string>
	<key>チャンキークッキーフラペチーノ</key>
	<string>チョコレートチャンククッキーがまるごと入ったフラペチーノ®

チョコレートチャンククッキーを入れてブレンドしたクリームベースのフラペチーノ®に、ホイップクリームをのせ、仕上げにダークチョコレートのパウダーをトッピングしました。
クッキーにはアーモンドとチョコレートを混ぜて焼きあげており、香ばしい香りと甘くほろ苦い味わいがフラペチーノ®全体に広がります。
専用のワイドストローでクッキーの軽快な食感をお楽しみください。

﻿ICED

Tall 	￥540   	Grande 	￥580   
Venti® 	￥620   






</string>
	<key>バニラクリームフラペチーノ</key>
	<string>ミルクとバニラのなめらかな組み合わせ

ミルクとバニラシロップを氷とブレンドし、ホイップクリームをトッピングした、クリーミーな味わいのフローズン ビバレッジ。真っ白な見た目も爽やかです。ミルクとバニラシロップというシンプルな組み合わせはいろいろなカスタマイズとも好相性。

﻿ICED

Tall 	￥450   	Grande 	￥490   
Venti® 	￥530   </string>
	<key>マンゴーパッションティーフラペチーノ</key>
	<string>トロピカルな味わいとアイスティーをブレンド

マンゴーとパッションフルーツのトロピカル感あふれる味わいに、ハイビスカスティーと氷をブレンドした、フルーティーな味わいのフローズン ビバレッジ。

﻿ICED
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530   </string>
	<key>抹茶クリームフラペチーノ</key>
	<string>豊かな風味の抹茶パウダーをブレンドした、クリームベースのフラペチーノ®

世界中で様々な形で飲用されている抹茶ですが、スターバックスではミルクと甘みを加えて氷でブレンドしたリフレッシングなフラペチーノ®に仕上げました。﻿

ICED
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530   






</string>
	<key>ダークモカチップクリームフラペチーノ</key>
	<string>チョコレートの風味を存分に味わえる１杯。

ミルク、ダークチョコレートパウダー、そして人気のチョコレートチップを氷とブレンドした、クリーミーな味わいのフローズンビバレッジ。お好みでチョコレートソースをトッピングして、よりチョコレートの風味を強めることも。

﻿ICED

Tall 	￥470   	Grande 	￥510   
Venti® 	￥550   </string>
	<key>キャラメルフラペチーノ</key>
	<string>コーヒーフラペチーノにキャラメルシロップをブレンドし、ホイップクリームとキャラメルソースをトッピング

コーヒー、ミルク、キャラメルシロップを氷とブレンドした、多くのお客様に愛されているフローズン ビバレッジです。トッピングしたホイップクリームとキャラメルソースと混ぜながら、豊かでほんのり香ばしいキャラメルの風味をお楽しみください。﻿

ICED
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530   </string>
	<key>コーヒーフラペチーノ</key>
	<string>ベーシックなフラペチーノ
フレーバーシロップで甘さを加えれば、あなただけのオリジナルドリンクに

コーヒー、ミルクを氷とブレンドした、クリーミーな味わいのフローズン ビバレッジです。

ICED

Tall 	￥400   	Grande 	￥440   
Venti® 	￥480  </string>
</dict>
</plist>
