<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>エスプレッソ コンパナ</key>
	<string>　スタバこだわりのエスプレッソにホイップクリームをのせて、キャラメルのような甘く力強い味とナッツを感じさせる、後味のエスプレッソにホイップクリームをのせてほろ苦く贅沢なデザートのような味わいです。</string>
	<key>ｂｅ ｊｕｉｃｙ！ Kｉｄｓ（オレンジ／アップル）</key>
	<string>お子様に人気の果汁100％のジュース

お子様が飲みやすいように厳選した果汁を使用しました。スターバックスオリジナルの濃縮還元果汁100％ジュース。オレンジとアップルの2種類をご用意しています。</string>
	<key>キッズ ビバレッジ</key>
	<string>12歳以下のお子様用ドリンク

お子様向けのビバレッジは、ミルクとココアをご用意しています。ホットは、お子様でも飲みやすい温度でお作りします。</string>
	<key>スターバックス ディスカバリーズ® バニララテ </key>
	<string>エクストラクリームで贅沢に仕上げたバニララテ。
甘いひとときを、心ゆくまで。

お店で人気のカスタマイズ、ホイップクリームを追加したようなラテ。そのカスタマイズドラテのように、バニラの香り立つコーヒーにクリームをたっぷり使用しました。贅沢で豊かな味わいを心ゆくまでお楽しみください。

お求めは、お近くのコンビニで。
¥200</string>
	<key>スターバックス ディスカバリーズ® 京都抹茶ラテ</key>
	<string>上質な抹茶とミルクの味わいがひとつに｡ 
古都に息づく伝統に敬意をこめて｡

抹茶の豊かな香りと味わいにミルクがぴったりマッチした上品な味わいのラテです。
自然風土に恵まれた京都は、古くからお茶の産地として栄え、豊かな抹茶の文化を育ててきました。
その伝統の味わいに敬意をこめて、新鮮な茶葉からつくった抹茶をミルクと合わせ、まろやかなラテに仕上げました。
古都に流れる悠久の時に思いをはせながら、心なごむひとときをお過ごしください。

お求めは、お近くのコンビニで。</string>
	<key>スターバックス ディスカバリーズ® ミラノエスプレッソ</key>
	<string>エスプレッソの深く力強い味わい｡
カフェをこよなく愛する街の歴史と文化を称えて｡

お店と同じイタリアン ローストの豆で仕上げた、ロースト感のある力強い味わいが特徴のカフェラテです。
街のいたるところでコーヒーの香りが漂うミラノ。
人々は毎日のように顔なじみの店に立ち寄り、エスプレッソを楽しみます。
そんなカフェの本場が育んできた味わいを称え、上質なアラビカ種コーヒー豆を深煎りし、エスプレッソの風味が豊かに香る力強い味わいに仕上げました。
一口一口ごとに広がるコク深く濃厚な味わいとともに、上質な時間をお楽しみください。

お求めは、お近くのコンビニで。</string>
	<key>スターバックス ディスカバリーズ® シアトルラテ</key>
	<string>深煎りの豆とミルクの絶妙なバランス。
スターバックスのルーツがここにあります。

お店と同じエスプレッソ ローストの豆で仕上げた、風味豊かなエスプレッソとクリーミーなミルクのカフェラテです。
1984年に初めてカフェラテを発売したスターバックス創業の地でもあるシアトルから名前をとりました。
もちろん名前だけでなく、そこで育まれた独自の味わいや、コーヒーへのこだわりのすべてを受け継いでいます。
深煎りされた上質なアラビカ種のコーヒー豆とミルクが織りなすまろやかな味わいとともに、心やすらぐひとときをお楽しみください。

お求めは、お近くのコンビニで。</string>
	<key>１００％ フルーツ ジュース オレンジ</key>
	<string>2種類のオレンジをブレンドした果汁100%ジュース

2種類の厳選したオレンジをブレンドしています。オレンジ本来の味を楽しんで頂くために、香料や着色料は一切使用していません。濃縮還元果汁100%ジュースです。
◇195ml
￥200</string>
	<key>１００％ フルーツ ジュース グレープフルーツ</key>
	<string>2種類のグレープフルーツをブレンドした果汁100%ジュース

2種類の厳選したグレープフルーツをブレンドしています。グレープフルーツ本来の味を楽しんで頂くために、香料や着色料は一切使用していません。濃縮還元果汁100%ジュースです。
◇195ml</string>
	<key>１００％ フルーツ ジュース ダブルスクイーズ</key>
	<string>バナナの甘みやラズベリーの酸味が調和した果汁100%ジュース

バナナの甘みとラズベリーの甘酸っぱさの特徴を生かすために、りんご、ぶどう、レモンをブレンドした人気のフレーバー。絶妙なフルーツの味わいは香料、着色料など一切使わずフルーツだけで仕上げています。濃縮還元果汁100%ジュースです。
◇195ml</string>
	<key>キャラメル スチーマー</key>
	<string>キャラメル風味の温かいミルク

キャラメル風味の温かいミルクの上に、ホイップクリームとキャラメルソースをトッピングしました。ミルキーな甘さとキャラメルの風味を存分に楽しめます。</string>
	<key>ココア</key>
	<string>チョコレートシロップにミルク、ホットにはホイップクリームをたっぷりと

チョコレートシロップにミルクが調和し、やさしい甘さに仕上げました。ホットはホイップクリームが程よく溶けてまろやかな口当たりです。

※アイスでも提供しています。
※アイスでのご提供の場合、ホイップクリームは付きません。</string>
	<key>スターバックス ティー ラテ</key>
	<string>4種類の茶葉からお選びいただけるティー ラテ

イングリッシュ　ブレックファースト　ティー　ラテ
紅茶の伝統的な味わいがラテスタイルで楽しめます。ミルクとの相性を考えてブレンドしたティーに、温かなスチームミルクとふんわりフォームミルクで仕上げました。上品な香りと優しい風味が特徴です。

ラベンダー アール グレイ ティー ラテ
ラベンダーの香り華やぐアールグレイに温かなスチームミルクとふんわりフォームミルクで仕上げました。
バニラシロップで甘さを加えることで、より華やかな印象です。

ほうじ茶 ティー ラテ
日本で古くから親しまれているほうじ茶をミルクとの相性を追求して誕生した、日本限定ティー ラテ。
ミルクの甘い香りの中に、香ばしい香りがしっかりと漂う、甘さ控えめのティーラテです。

フル リーフ チャイ ティー ラテ
紅茶にジンジャーやシナモンなど香り高いスパイスをブレンドした風味豊かなティー ラテ。
一口飲むとミルクの甘さの中にしっかりとスパイスを感じることができます。</string>
	<key>チャイ ティー ラテ</key>
	<string>甘さの中にほんのり香るスパイス

紅茶の味わいにスパイスを効かせたオリジナルシロップと、ミルクのバランスが絶妙に調和したティー ラテ。まろやかなスパイス感と深いコクが特徴のティー ラテです。
-HOT/ICED-
Short 	￥360   	Tall 	￥400   
Grande 	￥440   	Venti® 	￥480</string>
	<key>抹茶 ティー ラテ</key>
	<string>ほろ苦い抹茶をラテに仕上げ深い味わいに

こだわり抜いた抹茶とミルクを合わせた人気のラテ。ほろ苦い抹茶にほどよく甘みをプラスすることで、より深い味わいが楽しめます。</string>
	<key>ホット ティー</key>
	<string>紅茶の伝統的な味わいと上品な香りが楽しめるティー

スターバックス オリジナルのホット ティー。

◇イングリッシュ　ブレックファースト

紅茶の伝統的な味が楽しめるブレンドです。アッサムをベースにセイロン、キームンを加え上品な香りが引き立ちます。

◇ほうじ茶

日本で古くから親しまれているほうじ茶をスターバックスで楽しめます。香ばしく豊かな風味を追及し、こだわり抜いた茶葉をブレンドしています。

◇アール　グレイ

ベルガモットで香り付けしたアールグレイに、ラベンダーの香りで華やかさが加わりました。ラベンダーの紫色の花が印象的なブレンドです。

◇チャイ

インド産の紅茶にジンジャー、シナモン、ブラックペッパーなどをブレンドしたエキゾチックなブレンドです。

◇スペアミント グリーン

洗練された緑茶にスペアミントなどを加えたすっきりとしたティーです。レモンのようなすっきりとしたシトラス系の香りとスペアミントの飲みあがりが特徴です。

◇ハイビスカス ブレンド

ハイビスカスフラワーにシナモン、レモングラス、ローズヒップなどをブレンドしたノンカフェインティー。見た目も美しく甘酸っぱい香りが特徴です。

-HOT-
Tall 	￥330   	Grande 	￥370   
Venti® 	￥410  </string>
	<key>アイス ティー</key>
	<string>紅茶の伝統的な味わいと上品な香りが楽しめるティー

スターバックスオリジナルのブレンドを毎日店舗で抽出しています。しっかりとしたコクと香りを楽しめます。

◇ブラック ティー

インドネシア産、スリランカ産、インド産のブラックティーを主にブレンドした、すっきりとしたアイスティーです。

◇パッションハイビスカスとローズヒップに、オレンジピールとレモングラスがブレンドされた、鮮やかな赤色でノンカフェインのハーブティーです。爽やかな酸味が気分転換におすすめです。

-ICED-
Short 	￥280   	Tall 	￥320   
Grande 	￥360   	Venti® 	￥400  </string>
	<key>バニラ クリーム フラペチーノ</key>
	<string>ミルクとバニラのなめらかな組み合わせ



ミルクとバニラシロップを氷とブレンドし、ホイップクリームをトッピングした、クリーミーな味わいのフローズン ビバレッジ。真っ白な見た目も爽やかです。ミルクとバニラシロップというシンプルな組み合わせはいろいろなカスタマイズとも好相性。

-ICED-
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530   </string>
	<key>抹茶 クリーム フラペチーノ</key>
	<string>豊かな風味の抹茶パウダーをブレンドした、クリームベースのフラペチーノ®

世界中で様々な形で飲用されている抹茶ですが、スターバックスではミルクと甘みを加えて氷でブレンドしたリフレッシングなフラペチーノ®に仕上げました。

-ICED-
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530  </string>
	<key>ダーク モカ チップ クリーム フラペチーノ</key>
	<string>チョコレートの風味を存分に味わえる１杯。

ミルク、ダークチョコレートパウダー、そして人気のチョコレートチップを氷とブレンドした、クリーミーな味わいのフローズンビバレッジ。お好みでチョコレートソースをトッピングして、よりチョコレートの風味を強めることも。

-ICED-
Tall 	￥470   	Grande 	￥510   
Venti® 	￥550</string>
	<key>キャラメル フラペチーノ</key>
	<string>コーヒーフラペチーノ®にキャラメルシロップをブレンドし、ホイップクリームとキャラメルソースをトッピング

コーヒー、ミルク、キャラメルシロップを氷とブレンドした、多くのお客様に愛されているフローズン ビバレッジです。トッピングしたホイップクリームとキャラメルソースと混ぜながら、豊かでほんのり香ばしいキャラメルの風味をお楽しみください。

-ICED-
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530</string>
	<key>コーヒー フラペチーノ</key>
	<string>ベーシックなフラペチーノ®。

フレーバーシロップで甘さを加えれば、あなただけのオリジナルドリンクに

コーヒー、ミルクを氷とブレンドした、クリーミーな味わいのフローズン ビバレッジです。

 -ICED-

Tall 	￥400   	Grande 	￥440   

Venti® ￥480   </string>
	<key>マンゴー パッション ティー フラペチーノ</key>
	<string>トロピカルな味わいとアイスティーをブレンド

マンゴーとパッションフルーツのトロピカル感あふれる味わいに、ハイビスカスティーと氷をブレンドした、フルーティーな味わいのフローズン ビバレッジ。

-ICED-
Tall 	￥450   	Grande 	￥490   
Venti® 	￥530   </string>
	<key>チャンキー クッキー フラペチーノ</key>
	<string>チョコレートチャンククッキーがまるごと入ったフラペチーノ®

　チョコレートチャンククッキーを入れてブレンドしたクリームベースのフラペチーノ®に、ホイップクリームをのせ、仕上げにダークチョコレートのパウダーをトッピングしました。
　クッキーにはアーモンドとチョコレートを混ぜて焼きあげており、香ばしい香りと甘くほろ苦い味わいがフラペチーノ®全体に広がります。
専用のワイドストローでクッキーの軽快な食感をお楽しみください。
　※一部店舗から順次販売しています。
-ICED-
Tall ￥540  Grande ￥580  Venti® ￥620</string>
	<key>チョコレート ブラウニー 抹茶 クリーム フラペチーノ</key>
	<string>抹茶と相性のよいチョコレートチップを組み合わせたフラペチーノ®に、濃厚なブラウニーをトッピングした贅沢な1杯
　人気の高い抹茶 クリーム フラペチーノ®とチョコレートチップの組合せに、チョコレートブラウニーをトッピングしたデザートフラペチーノ®です。
　大粒のザクザクとした歯ざわりが楽しいブラウニーが、グリーンのフラペチーノ®に映える贅沢な1杯に仕上げました。
そのままストローで飲んでも、スプーンですくったり、かき混ぜたりしてもおいしく召し上がれます。
-ICED-
Tall 	￥520   	Grande 	￥560   
Venti® 	￥600   </string>
	<key>フレッシュ バナナ ＆ キャラメル クリーム フラペチーノ</key>
	<string>フレッシュバナナが1本丸ごと入ったフレッシュな果肉の食感が楽しめるフラペチーノ®
フレッシュバナナを1本丸ごと入れたキャラメルフレーバーのフラペチーノ®に、キャラメルブラウニーとホイップクリーム、キャラメルソースをトッピングしました。
専用のワイドストローで、キャラメルとバナナの人気の組合せをお楽しみください。。
※好評のため、店舗によっては一日数量限定での販売,販売を終了している場合もございます。
-ICED-
Tallのみ 	￥610  
</string>
	<key>フレッシュ バナナ ＆ チョコレート クリーム フラペチーノ</key>
	<string>フレッシュバナナが1本丸ごと入ったフレッシュな果肉の食感が楽しめるフラペチーノ®
フレッシュバナナを1本丸ごと入れたチョコレートベースのフラペチーノ®に、チョコレートブラウニーとホイップクリーム、チョコレートソースをトッピングしました。
専用のワイドストローで、チョコレートとバナナの人気の組合せをお楽しみください。
※好評のため、店舗によっては一日数量限定での販売,販売を終了している場合もございます。
-ICED-
Tallのみ 	￥610  </string>
	<key>エスプレッソ マキアート</key>
	<string>スターバックスこだわりのエスプレッソにフォームミルクをのせて

キャラメルのような甘く力強い味とナッツを感じさせる後味。
ふわふわのフォームミルクをのせることでミルクの優しい甘さが、エスプレッソを引き立てます。</string>
	<key>エスプレッソ</key>
	<string>スターバックスこだわりのエスプレッソ

キャラメルのような甘く力強い味とナッツを感じさせる後味。
スターバックスのすべてのエスプレッソ ビバレッジに使われているエスプレッソです。
どうぞ、お早めにお召し上がりください。</string>
	<key>カフェ アメリカーノ</key>
	<string>エスプレッソに特別にろ過したウォーターを加えて

エスプレッソに熱いお湯を注いだ、すっきりとしたのどごしのコーヒーです。ドリップ コーヒーのお好きな方にもおすすめです。 

※アイスでも提供しています。</string>
	<key>キャラメル マキアート</key>
	<string>フォームミルクがたっぷりのったバニラ風味のラテにキャラメルをトッピング

バニラシロップとスチームミルクのコンビネーションになめらかなフォームミルクをたっぷりのせ、その上からエスプレッソを注いでアクセントを付けました。仕上げにオリジナルキャラメルソースをトッピングしています。 

※アイスでも提供しています。</string>
	<key>ホワイト モカ</key>
	<string>エスプレッソにホワイトチョコレートシロップとミルク、ホイップクリーム

エスプレッソに濃厚でクリーミーなホワイトチョコレートシロップとスチームミルクを加え、ホイップクリームをトッピング。ちょっとした贅沢を楽しみたい方におすすめです。 

※アイスでも提供しています。
※アイスでのご提供の場合、ホイップクリームは付きません。</string>
	<key>カフェモカ</key>
	<string>エスプレッソにチョコレートシロップとミルク、ホイップクリームをのせて

エスプレッソにほろ苦いチョコレートシロップとミルクを加え、ホットビバレッジにはホイップクリームをトッピング。ちょっとした贅沢を楽しみたい方におすすめです。

</string>
	<key>カプチーノ</key>
	<string>ふんわりと滑らかな舌触りのフォームミルクをたっぷり楽しめるカプチーノ

リッチなエスプレッソに一気にミルクを注ぐことで、一口飲んだときからコーヒー感が感じられるビバレッジです。ベルベットのようにきめ細かいフォームミルクをお楽しみください。</string>
	<key>ダブル トール クラシック ラテ</key>
	<string>上質なエスプレッソとミルクの組み合わせをお楽しみいただける目黒店限定ドリンク

スターバックス ラテに、エスプレッソショットとほんのりと甘いシロップを加えました。

シロップがふんわりとしたミルクのやさしい甘さを引き立て、エスプレッソの力強さが印象的な1杯です。ミルクとエスプレッソの調和をお楽しみください。

-HOT/ICED-
Tallのみ 	￥460 </string>
	<key>ソイ ラテ</key>
	<string>エスプレッソとの相性を追求した豆乳を使用

リッチなエスプレッソにスチームしたての豆乳を注ぎ、そのフォームをていねいにトッピングしました。エスプレッソと豆乳のバランスが絶妙で、やさしい味わいをお楽しみいただけます。 

※アイスでも提供しています。</string>
	<key>スターバックス ラテ</key>
	<string>エスプレッソにミルクをたっぷり注いで、なめらかなフォームミルクを

最も人気のあるエスプレッソ ビバレッジ。リッチなエスプレッソにスチームミルクを注ぎ、フォームミルクを丁寧にトッピングしました。ミルキーな味わいで気持ちを温かくしてくれます。 

※アイスでも提供しています。</string>
	<key>フォーム ドピオ エスプレッソ</key>
	<string>エスプレッソの豊かな味わいが力強く感じられる本格的な一杯

深煎りのエスプレッソ ローストから抽出された濃厚なダブルショットのエスプレッソに、やわらかな口あたりのスチームミルクを合わせた、味わい深いエスプレッソ ビバレッジです。
相性の良い小菓子｢アーモンド クロカント｣を添えて提供いたします。</string>
	<key>スターバックス リザーブ コーヒープレス</key>
	<string></string>
	<key>スターバックス リザーブ クローバー</key>
	<string></string>
	<key>カフェミスト</key>
	<string>香り高いドリップコーヒーにふわふわのスチームミルクを加えて

高品質のアラビカ種コーヒー豆を使用したドリップ コーヒーにスチームしたミルクを注ぎ、さらにふわふわのフォームミルクをのせました。やさしくホッとできるビバレッジです。</string>
	<key>ポットサービス</key>
	<string>スターバックスのコーヒーを出来たてでご用意します

ミーティングに、来客時に、抽出したてのドリップコーヒーをポットでご用意いたします。

あわせて、ペーパーカップ、ミルク、シュガーもご用意いたします。事前にお知らせいただくと、お好きなコーヒー豆を選べます。

※アイスコーヒーもオーダーできます。

5杯分(1,000ml) 　\1,000

10杯分(2,000ml)　\2,000

15杯分(3,000ml)　\3,000

20杯分(4,000ml)　\4,000</string>
	<key>スターバックス リザーブ　コーヒープレス</key>
	<string>魅力的かつ個性的なストーリーを持ったコーヒー豆「スターバックス リザーブ®」を使ったコーヒー

スターバックス リザーブ™は、世界のスターバックスでも限定店舗のみでお取扱いしております。
ご注文ごとに挽いて一杯ずつおつくりするコーヒーをお楽しみいただけます。この貴重な出会いとそれぞれの個性的な味わいを、じっくりとお楽しみください。


100％ コナ コーヒー パリー エステート　　\810
スマトラ ブルー バタック　　\480</string>
	<key>スターバックス リザーブ　クローバー</key>
	<string>魅力的かつ個性的なストーリーを持ったコーヒー豆「スターバックス リザーブ®」をクローバーで抽出したコーヒー

ご注文ごとに挽いて一杯ずつおつくりするコーヒーをお楽しみいただけます。この貴重な出会いとそれぞれの個性的な味わいを、じっくりとお楽しみください。


100％ コナ コーヒー パリー エステート
Short \820　Tall \860
スマトラ ブルー バタック
Short \490　Tall \530</string>
	<key>コーヒー プレス</key>
	<string>お好きなコーヒー豆をコーヒープレスでお楽しみいただけます

店舗でお取り扱いしている全コーヒー豆の中から、その日の気分に応じて、お好きなコーヒー豆をお選びいただけます。</string>
	<key>ドリップコーヒー</key>
	<string>厳選された香り高いドリップコーヒー

世界中のコーヒー産地から厳選された高品質のアラビカ種コーヒー豆を使用したスターバックスの定番商品です。バラエティあふれるコーヒー豆を通して、スターバックスのコーヒージャーニーをお楽しみください。
異なるローストレベルのコーヒーを2種類ご用意しています(一部店舗を除く)ので、まずは、あなたのお好みのローストから、お気に入りの1杯を見つけてみませんか。</string>
</dict>
</plist>
