<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>チャイティーラテ</key>
	<string>エキゾチックさが増した複雑な味わい
米国のミュージシャン、ジェイソン・ムラーズが好んだ一杯
【オーダー方法】
①チャイティーラテを注文
②エスプレッソ追加（+50円）
③ミルクを豆乳に変更（+50円）
参考価格　520円（Tall Size）

欧米では有名なカスタマイズの１つ</string>
	<key>スターバックスティーラテ</key>
	<string>バニラの風味が美味しいカフェラテ
【オーダー方法】
①スターバックスラテを注文
②バニラシロップ追加（+50円）
参考価格　420円（Tall Size）

シンプルイズベスト</string>
	<key>ソイラテ</key>
	<string>【100キロカロリーOFFソイラテ風裏メニュー】
①カフェミストを注文
②豆乳に変更(＋50円)

Tall　400円(432円)</string>
	<key>ヘーゼルナッツカフェアメリカーノ</key>
	<string>エスプレッソの苦味とヘーゼルナッツの甘みのハーモニー

【オーダー方法】
①カフェアメリカーノを注文
②ヘーゼルナッツシロップを追加（+50円）
参考価格　410円（Tall Size）</string>
	<key>チャンキークッキーフラペチーノ</key>
	<string>チャンキークッキーフラペチーノ

モカシロップ追加　50円

チョコレートソース追加　0円

チョコレートホイップに変更　0円

チョコレートチップ追加　50円

コーヒージェリー追加　100円

合計799円

クッキーとコーヒージェリーとチョコレートのコラボ！！！</string>
	<key>ソイチャイラテ</key>
	<string>ダーティーチャイ

①チャイティーラテを注文
②エスプレッソショットを追加（＋50円）
Tall ¥450

ジェイソンスペシャル

①チャイティーラテを注文
②エスプレッソ追加（+50円）
③ミルクを豆乳に変更（+50円）
Tall500</string>
	<key>抹茶ティーラテ</key>
	<string>【抹茶ティーラテカスタム】
オーダー方法
①抹茶ティーラテを注文
②オールミルク変更 (無料)
③ホイップ追加 (50円)
④キャラメルソース追加 (無料)
Tall ¥490円

滑らかでコクのある一杯に♫ </string>
	<key>キャラメルマキアート</key>
	<string>ゼブラマキアート

①キャラメルマキアートを注文
②バニラシロップをホワイトモカに変更（無料）
③キャラメルソースをチョコソースに変更（無料）

Tall ¥410</string>
	<key>カフェモカ</key>
	<string>乳製品が苦手な方にオススメです。
カフェモカのミルクを豆乳に変更し、乳製品であるホイップクリームも抜きに。
そして、モカと相性抜群のアーモンドシロップを追加します♪</string>
	<key>カプチーノ</key>
	<string>ココアカプチーノ

①カプチーノを注文
②モカシロップを追加（+50円）
③チョコレートソースを追加（無料）
④コンディメントバーでココアパウダーを追加（無料）

Tall ¥410</string>
	<key>スターバックスラテ</key>
	<string>ハチミツの優しい甘さを追加したホットラテ

【オーダー方法】
①スターバックスラテのホットを注文
②フォームミルク多め（無料）
③コンディメントバーでハチミツを追加（無料）
参考価格　380円（Tall Size）

※ハチミツは多めに入れてよく混ぜると味が馴染みます</string>
	<key>バニラクリームフラペチーノ</key>
	<string>オレオフラペチーノ

オーダー方法
①バニラクリームフラペチーノを注文
②チョコレートチップ追加（+50円）
③チョコソース追加（無料）
Tall ¥500円

ミロフラペチーノ

オーダー方法
①バニラクリームフラペチーノを注文
②チョコチップ追加（+50円）
③キャラメルシロップ追加（+50円）
Tall ¥550円

夢フラペチーノ

オーダー方法
①バニラクリームフラペチーノを注文
②エスプレッソショット追加（+50円）
Tall ¥500円
※ジョン・カビラ氏が命名

【ノンホイップチョコチップバニラクリームフラペチーノ】
【オーダー方法】
①バニラクリームフラペチーノを注文
②チョコチップ追加
③ホイップクリーム抜き
④ミルクを無脂肪乳に変更
Tall ¥520円

超美味しい新星！！ 

【ゴディバフラペチーノ】
バニラクリームフラペチーノを注文
シロップをモカシロップに変更（無料）
ヘーゼルナッツシロップを追加（+50円）
チョコソース追加（無料）
チョコチップ追加（+50円）
エキストラホイップ（無料）
Tall ¥570円 

「バニラクリームフラペチーノ」＋「アーモンドシロップ」で杏仁フラッペチーノの完成
普通バニラクリームフラペチーノにはバニラシロップ”を入れるところですが、”アーモンドシロップ”に変更しました

【エキゾチックフラペチーノ 】 
①バニラクリームフラペチーノを注文 
②チャイシロップに変更（無料） 
③シナモンパウダー追加（無料） 
Tall ¥470円

【プレーンフラペチーノ】
①バニラクリームフラペを注文 
②バニラシロップ抜き(無料)  
甘口濃いめの優しいミルク味
Tall ¥450円</string>
	<key>マンゴーパッションティーフラペチーノ</key>
	<string>不思議と桃の味わいがするフラペチーノ

【オーダー方法】
①マンゴーパッションティーフラペチーノを注文
②ティーを抜く（無料）
③ホワイトモカシロップ追加（＋50円）
Tall ¥520円</string>
	<key>抹茶クリームフラペチーノ</key>
	<string>コーヒー抹茶クリームフラペチーノ

①抹茶クリームフラペチーノを注文
②シロップ抜き（無料）
③コーヒー追加（+50円）
Tall ¥500

ダブルチョコ 抹茶クリームフラペチーノ

オーダー方法
①抹茶クリーム フラペチーノを注文
②チョコレートソースを追加（無料）
③チョコチップを追加（+50円)
Tall ¥500

【グリーンエスプレッソフラペチーノ＊】

①抹茶クリームフラペを注文 
②エスプレッソ追加 (50円) 
③ホイップ抜き (無料)  
Tall ¥500
不思議と濃い抹茶になるドリンク</string>
	<key>ダークモカチップクリームフラペチーノ</key>
	<string>エクストラコーヒー　ノンホイップ　ダークモカチップフラペチーノ

①ダークモカチップフラペチーノを注文
②コーヒーの量多め（+50円）
③ホイップクリーム抜き（無料）
Tall ¥520

グランデアドショットヘーゼルナッツバニラアーモンドキャラメルエキストラホイップキャラメルソースモカソースチョコレートチップチョコレートクリームフラペチーノ
・グランデ サイズ（473ml） 
 ・アドショット エスプレッソショット追加 
・ヘーゼルナッツバニラアーモンドキャラメル シロップ追加 
・エキストラホイップ ホイップクリームの追加 
・キャラメルソースモカソース ソースの追加 
・チョコレートチップ チョコレートチップの追加

¥830</string>
	<key>キャラメルフラペチーノ</key>
	<string>ホワイトチョコレートモカフラペチーノ

①キャラメルフラペチーノを注文
②ホワイトモカシロップに変更（無料）
③キャラメルソース無し（無料）
¥430</string>
	<key>コーヒーフラペチーノ</key>
	<string>エスプレッソフラペチーノ

①コーヒーフラペチーノを注文
②エスプレッソショットの追加（+50円）
Tall ¥450
※「エスプレッソフラペチーノ」で店員にも通じる裏メニューで2004年までスタンダードメニューとして登録

【モカフラペチーノ】
①コーヒーフラペを注文
②モカシロップ追加 (50円)
Tall ¥450

ほのかにコーヒーが香るチョコ味のフラペチーノ
あなたも試してみてはいかが？</string>
</dict>
</plist>
